@import "../../main.module";

.modalBackground {
  background-color: rgba(0, 0, 0, 45%);;
  color: white;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  z-index: 9;
}

.modal {
  width: 50%;
  max-width: 750px;
  height: 50%;
  background-color: white;
  color: $primary-color;
  margin: 0 auto;
  top: calc($nav-height + 50px);
  border-radius: 25px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
  position: relative;

  @include respond-to(laptop) {
    width: 60%;
  }
  @include respond-to(tablet) {
    width: 70%;
  }
  @include respond-to(mobile) {
    top: calc($nav-height + 15px);
    width: 100%;
    height: calc(100% - $nav-height - 50px);
    border-radius: 25px 25px 0 0;
  }
}

.closeButton {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.closeButton img {
  width: 100%;
}
