@import "../../main.module";

.title {
  margin: 50px 0;
  font-weight: 400;
  @include respond-to(mobile) {
    text-align: center;
  }
}

.button {
  display: flex;
  align-items: center;
  width: fit-content;

  @include respond-to(mobile) {
    margin: 0 auto;
    padding: 10px 20px;
  }
}

.darkGoogleIcon, .whiteGoogleIcon {
  width: 40px;
}

.whiteGoogleIcon {
  display: none;
}

.button:hover .darkGoogleIcon {
  display: none;
}

.button:hover .whiteGoogleIcon {
  display: block;
}

.buttonLabel {
  margin-left: 20px;
  font-size: 20px;
  color: $primary-color;
}

.button:hover .buttonLabel {
  color: white;
}

.button:focus .buttonLabel {
  color: $primary-color;
}


