// color vars
$primary-color: #222222;
$red: #cb0101;

// screen vars
$desktop-width: 1200px;
$laptop-width: 1024px;
$tablet-width: 768px;
$mobile-width: 480px;
$nav-height: 80px;

@mixin respond-to($media-args...) {
  @each $media in $media-args {
    @if $media == mobile {
      @media (max-width: $mobile-width) {
        @content;
      }
    }
    @if $media == tablet {
      @media (max-width: $tablet-width) {
        @content;
      }
    }
    @if $media == laptop {
      @media (max-width: $laptop-width) {
        @content;
      }
    }
    @if $media == desktop {
      @media (max-width: $desktop-width) {
        @content;
      }
    }
    // expects width value:
    @media (max-width: $media-args) {
      @content;
    }
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  color: $primary-color;
  height: 100vh;
}

p {
  margin: 0;
}

.container {
  width: 80%;
  margin: 80px auto;
  max-width: 1200px;

  @include respond-to(tablet) {
    width: 90%;
  }
  @include respond-to(mobile) {
    width: 95%;
    margin-top: 40px;
    padding-bottom: 40px;
  }
}

.button {
  border: 2px solid $primary-color;
  color: $primary-color;
  text-decoration: none;
  border-radius: 6px;
  padding: 10px 50px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  text-align: center;
  display: flex;
  align-items: center;
}

.button:hover {
  color: white;
  background-color: $primary-color;
}

.button:focus {
  outline: 2px solid $primary-color;
  color: $primary-color;
  background-color: white;
}

.content {
  padding-top: $nav-height;
}

.boldText {
  font-weight: 800;
}
