@import "../../../main.module";

.warCard {
  border: 1px solid $primary-color;
  background-color: $primary-color;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  min-width: 300px;
  width: 22%;
  height: 200px;
  margin: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  box-shadow: rgb(38 57 77) 0 20px 30px -10px;

  @include respond-to(mobile) {
    margin: 20px;
    width: 100%;
  }
}

.warName {
  font-size: 20px;
  text-align: center;
  padding: 20px 30px;
}

.warPhase {
  background-color: white;
  border: 1px solid;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 5px;
  position: absolute;
  top: -20px;
  right: 6px;
}

.preparationPhase {
  color: grey;
  border-color: grey;
}

.submissionPhase {
  color: royalblue;
  border-color: royalblue;
}

.votingPhase {
  color: red;
  border-color: red;
}

.finishedPhase {
  color: green;
  border-color: green;
}
