@import "../../../../main.module";

.options {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: flex-end;
  border-radius: 50px;
  opacity: 0.6;
  width: 70px;
  overflow: hidden;
  transition: background-color 0.5s ease-in, width 0.5s ease-in;
}

.optionsOpened {
  @extend .options;
  justify-content: space-between;
  width: 300px;
  opacity: 1;
  padding: 0 10px;
  background: rgba(255, 255, 255, .9);
  transition: background-color 0.5s ease-in, width 0.5s ease-in;
}

.status {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}

.statusText {
  display: none;
  align-items: center;
}

.optionsOpened .statusText {
  display: flex;
}

.statusIcon {
  margin: 0 5px;
  width: 50px;
  height: 50px;
}

.deleteButton {
  display: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 90px;
  height: 70px;
}

.optionsOpened .deleteButton {
  display: flex;
}

.deleteIcon {
  height: 50px;
}

.deleteModalContent {
  font-size: 22px;
  font-weight: 300;
  text-align: center;
}

.deleteModalButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;

  @include respond-to(tablet) {
    flex-direction: column;
  }
}

.abortDeletionButton,
.confirmDeletionButton {
  @extend .button;
  width: 200px;
  margin: 10px 20px;
  justify-content: center;

  p {
    width: 50px;
    margin-top: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @include respond-to(mobile) {
    width: 100%;
  }
}

.abortDeletionButton {
  background-color: white;
  border-color: royalblue;
  color: royalblue;
}

.abortDeletionButton:hover {
  background-color: #c3d2ff;
  color: royalblue;
}

.confirmDeletionButton {
  background-color: white;
  border-color: red;
  color: red;
}

.confirmDeletionButton:hover {
  background-color: #ffd6d6;
  color: red;
}

.emoji {
  font-size: 30px;
  margin: 0 10px;
}
