@import "../../main.module";

.warHeader {
  width: 100%;
  text-align: center;

  @include respond-to(mobile) {
    text-align: left;
  }
}

.titleDropdownButton {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  @include respond-to(mobile) {
    justify-content: space-between;
  }
}

.title {
  font-weight: 300;
  text-align: center;
  margin: 50px;

  @include respond-to(mobile) {
    margin: 50px 20px;
    font-size: 24px;
  }
}

.dropdownArrow {
  width: 30px;
  margin: 10px 20px;
  transition: transform 0.5s ease-in-out;
}

.dropdownArrowRotated {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}

.titleDropdownContent {
  overflow: hidden;
  height: 0;
  transition: height 0.5s ease-in-out, padding 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 22px;
  font-weight: 300;
  width: fit-content;
  max-width: 820px;
  margin: 0 auto;

  @include respond-to(tablet) {
    max-width: 90%;
  }

  p {
    margin: 5px 0;
  }
}
