@import "../../main.module";

.container {
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;

  @include respond-to(1357px) {
    justify-content: center;
  }
}

.peaceTime {
  width: 100%;
  text-align: center;
  font-size: 20px;
}
