@import "../../main.module";

.navigation {
  background-color: $primary-color;
  height: $nav-height;
  width: 100%;
  position: fixed;
  z-index: 100;
  box-shadow: 0 4px 15px 5px rgba(61, 61, 61, 0.5);
}

.container {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-bottom: 0;

  @include respond-to(mobile) {
    width: 100%;
  }
}

.homeButton {
  width: 100px;
  height: $nav-height;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.homeButton img {
  height: 90%;
}
