@import "../../Meme.module";

.memeScore {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  padding: 10px;
  text-align: center;
  position: absolute;
  right: -30px;
  bottom: -20px;
  background: $primary-color;
  border: 3px solid #fcc92c;
  color: #fcc92c;
  font-size: 20px;

  @include respond-to(mobile) {
    right: -10px;
    bottom: -30px;
  }
}
